// palette
$white: #FFFFFF;
$white-1: rgba(255, 255, 255, 0.85);
$white-2: rgba(255, 255, 255, 0.7);

$darck: #000000;
$darck-1: #2A2B30;
$darck-2: #272733;
$darck-3: #3D4050;
$darck-4: rgba(16, 16, 29, 0.9);
$darck-5: rgba(39, 39, 51, 0.9);
$darck-6: #3D4050;

$grey: #BBBBBB;
$grey-1: #C3C3C3;
$grey-2: #C4C4C4;
$grey-3: #6F6D7B;
$grey-4: rgba(61, 64, 80, 0.85);



$blue-1: #286690;
$blue-2: #3E9CDC;
$blue-3: #42A9ED;
$blue-4: #43ABF0;

// header
$header_bg: $darck-4;

// footer
$footer_bg: $darck-3
