@import '../core/_mixin';
@import '../core/_colors';
@import '../core/fonts';

.adv {
  margin: 80px 0 0 0;
  display: flex;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
  }

  &__el {
    width: 209px;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  &__icon-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: #3E9CDC;
    border: 5px solid #286690;
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: auto;
  }

  &__title {
    @include font(Lato-Regular, 16px, 19px, $white);
    text-align: center;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 100px;
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin: 0 12px;
  }

  &__line-el {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $grey;
  }
}
