@import "../core/_mixin";
@import "../core/_fonts";
@import "../core/_colors";

.select {
  border-radius: 3px;
  background: $darck-5;
  width: 370px;

  &__header {
    @include font(Lato-Regular, 18px, 21.6px, $darck-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    //background: $grey-4;
    background: $white-1;
    height: 24px;
    border-radius: 3px;
    padding: 12px 10px;

    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1px;
      width: 20px;
      height: 20px;
      content: url("../../assets/icons/el_section_next.svg");
      pointer-events: none;
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }

  &__container {
    display: none;
    padding: 2px 4px 2px 0;
  }

  &__con_is_active {
    display: block;
  }

  &__list {
    height: 180px;
    padding-left: 10px;
  }

  &__option {
    @include font(Lato-Regular, 18px, 34px, $white);

    &:hover {
      color: $blue-3;
    }
  }
}
